{% extends 'mail/base.html.twig' %}

{% block body %}
    Gentile {{ user.firstname }} {{ user.lastname }},<br/> è stato richiesto il reset della password per il tuo account su <a href="{{ url('admin') }}">PortaleLiguria</a>.<br/>
    Puoi impostare nuovamente la tua password a questo indirizzo {{ url }}.<br/><br/>

    Grazie<br/>
{% endblock body %}


