{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/welcome.html.twig' %}

{% block page_title 'Dashboard' %}

{% block page_content %}
    <h1>{{ 'pages.welcome.page_title'|trans }}</h1>
    <p>{{ 'pages.welcome.page_description'|trans }}</p>
{% endblock %}
